
.choreItem {
    background: #f9f9f9;
    height: 5em;
    width: 80%;
    margin: 1em;
    color: #ccc;
    box-shadow: .25em .25em #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnBox {
    background: #ccc;
    height: 5em;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBox button {
    border: none;
}
.choreItem h2 {
    font-size: 16px;
    color: #bbb;
}

.points {
    color: #ddd;
    font-size: 30px;
    margin-right: .5em;
}