.pointsContainer {
    background: #66e6f8;
    margin: 0;
    min-height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleContainer {
    width: 50em;
}
.titleContainer h2 {
    text-align: center;
    font-size: 50px;
    margin: 2em 0 0 0;
}

.pointsCounter h1 {
    text-align: center;
    font-size: 300px;
    margin: 0;
    color: #1d1d1d;
}